/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/nuxt/node_modules
/nuxt/.nuxt
/nuxt/.nitro
/nuxt/.cache
/nuxt/.output
/nuxt/dist
/nuxt/yarn.lock
/nuxt/pnpm-lock.yaml
/nuxt/package-lock.json
