node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
yarn.lock
pnpm-lock.yaml
\\package-lock.json
/laravel/node_modules
/laravel/vendor
/laravel/storage/*.key
/laravel/public/storage
/laravel/.env
/laravel/.env.backup
/laravel.phpunit.result.cache
/laravel/npm-debug.log
/laravel/yarn-error.log
/laravel/Homestead.json
/laravel/Homestead.yaml
