html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description", content="")
        meta(name="author", content="")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Poppins:400&subset=latin")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700")
        link(href="https://use.fontawesome.com/releases/v5.0.6/css/all.css", rel="stylesheet")
        | 
        link(href="css/nucleo-icons.css", rel="stylesheet")
        link(href="css/nucleo-svg.css", rel="stylesheet")
        | 
        link(href="css/font-awesome.css", rel="stylesheet")
        link(rel="stylesheet", href="css/creativetim/creativetim.min.css")
        link(rel="icon", sizes="16x16", href="favicon.ico")
    body
        div(class="wrapper")
            section(class="section project-2")
                div(class="container")
                    div(class="row")
                        div(class="col-lg-8 mx-auto text-center my-5")
                            h3(class="display-3") Our Portfolio
                            p(class="lead") Experience the quality of product you could get, tailored to your business needs. Developed specifically for you and your team.
                    div(class="row")
                        div(class="col-lg-4 col-md-6")
                            div(class="card card-project")
                                a(href="javascript:;")
                                    div(class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle mx-auto")
                                        i(class="ni ni-favourite-28")
                                div(class="card-body")
                                    h4(class="card-title mt-3") Tic Tac Toe
                                    p(class="card-description") I coded a game of computer vs player Tic Tac Toe. It's only got 1 difficulty...HARD!! Try and win. Leave us some feedback after you play a few rounds against me and let me know if you were engaged.
                                    div(class="card-footer")
                                        button(class="btn btn-link text-primary", type="button")
                                            i(class="ni ni-glasses-2 mr-2")
                                            span Play Now
                        div(class="col-lg-4 col-md-6")
                            div(class="card card-project")
                                a(href="javascript:;")
                                    div(class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mx-auto")
                                        i(class="ni ni-books")
                                div(class="card-body")
                                    h4(class="card-title mt-3") Checkers
                                    p(class="card-description") Have you ever wanted to vs a real opponent with real skill and tactics when playing Checkers? Look no further. I am here and have coded logic that makes the game engaging and keeps you on your toes.
                                    div(class="card-footer")
                                        button(class="btn btn-link text-success", type="button")
                                            i(class="ni ni-key-25 mr-2")
                                            span Play Now
                        div(class="col-lg-4 col-md-6")
                            div(class="card card-project")
                                a(href="javascript:;")
                                    div(class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mx-auto")
                                        i(class="ni ni-trophy")
                                div(class="card-body")
                                    h4(class="card-title mt-3") Online Store
                                    p(class="card-description") I coded an Online Store in PHP for my site. It uses a MariaDB database and has a table with all the product information. I then use SQL and commands to transform the data into a storefront.
                                    div(class="card-footer")
                                        button(class="btn btn-link text-warning", type="button")
                                            i(class="ni ni-notification-70 mr-2")
                                            span Shop Now
                    br
                    div(class="row")
                        div(class="col-lg-4 col-md-6")
                            div(class="card card-project")
                                a(href="javascript:;")
                                    div(class="icon icon-lg icon-shape icon-shape-secondary shadow rounded-circle mx-auto")
                                        i(class="ni ni-favourite-28")
                                div(class="card-body")
                                    h4(class="card-title mt-3") AI Chat Bot
                                    p(class="card-description") I coded a PHP OpenAI Chatbot that is fully functional and can mantain a persistent conversation, give you product information hidden on the site and much more. Send tweets, Google Search, Voice-to-Text and the list goes on.
                                    div(class="card-footer")
                                        button(class="btn btn-link text-secondary", type="button")
                                            i(class="ni ni-glasses-2 mr-2")
                                            span Chat Now
                        div(class="col-lg-4 col-md-6")
                            div(class="card card-project")
                                a(href="javascript:;")
                                    div(class="icon icon-lg icon-shape icon-shape-danger shadow rounded-circle mx-auto")
                                        i(class="ni ni-books")
                                div(class="card-body")
                                    h4(class="card-title mt-3") Premium support
                                    p(class="card-description") Experience the intergrated support systems in an integrated ticketing system with chatbot functionality. Let AI handle the hard conversations and let customers escalate to a SysAdmin via a ticket.
                                    div(class="card-footer")
                                        button(class="btn btn-link text-danger", type="button")
                                            i(class="ni ni-key-25 mr-2")
                                            span Get Help
                        div(class="col-lg-4 col-md-6")
                            div(class="card card-project")
                                a(href="javascript:;")
                                    div(class="icon icon-lg icon-shape icon-shape-info shadow rounded-circle mx-auto")
                                        i(class="ni ni-trophy")
                                div(class="card-body")
                                    h4(class="card-title mt-3") Bootstrap
                                    p(class="card-description") This website was coded used Bootstrap 5 for CSS Styling. The responsive grid layout and mobile-first design heavily influences the aesthentics of this site. Not to say the desktop version doesn't have more features.
                                    div(class="card-footer")
                                        button(class="btn btn-link text-info", type="button")
                                            i(class="ni ni-notification-70 mr-2")
                                            span Home Now
            div(class="section features-4")
                div(class="container")
                    div(class="row")
                        div(class="col-md-8 text-center mx-auto")
                            h3(class="display-3") What's our Stacks
                            p(class="lead") We are a small development team and make up for it in optimal choice in frameworks and libraries for streamlined development. Web Design as a Service is definitely a possibility.
                    div(class="row align-items-center")
                        div(class="col-lg-4 mr-auto text-left mt-4")
                            div(class="card bg-default shadow border-0")
                                img(class="card-img-top", src="https://app.creative-tim.com/argon_placeholder/theme/img-1-1200x1000.jpg")
                                blockquote(class="card-blockquote")
                                    svg(class="svg-bg", preserveaspectratio="none", xmlns="http://www.w3.org/2000/svg", viewbox="0 0 583 95")
                                        polygon(class="fill-default", points="0,52 583,95 0,95")
                                        polygon(class="fill-default", points="0,42 583,95 683,0 0,95", opacity=".2")
                                    h4(class="display-4 text-white") What is a Stack?
                                    p(class="lead text-italic text-white") It is a stack of applications that you use together to build a website or application
                        div(class="col-lg-7 p-sm-0")
                            div(class="row")
                                div(class="col-md-6")
                                    div(class="info info-hover-warning")
                                        div(class="icon icon-shape bg-warning shadow rounded-circle text-primary")
                                            i(class="ni ni-satisfied text-white")
                                        h5(class="info-title") LEMP Stack
                                        p(class="description opacity-8") Linux, Nginx, MariaDB & PHP. My personal favourite stack. It's simple yet effective in server side rendering. Easy to setup and update at a moments notice with very little configuration.
                                div(class="col-md-6")
                                    div(class="info info-hover-info")
                                        div(class="icon icon-shape bg-info shadow rounded-circle text-primary")
                                            i(class="ni ni-palette text-white")
                                        h5(class="info-title") Laravel LEMP Stack
                                        p(class="description opacity-8") Similar to a LEMP Stack but uses Laravel as the backend PHP framework. Laravel provides support for a range of popular PHP libraries and can help simplify the routing and authentication.
                            div(class="row mt-lg-4")
                                div(class="col-md-6")
                                    div(class="info info-hover-danger")
                                        div(class="icon icon-shape bg-danger shadow rounded-circle text-primary")
                                            i(class="ni ni-user-run text-white")
                                        h5(class="info-title") VILB Stack
                                        p(class="description opacity-8") VueJS, IntertiaJS, Laravel & Bootstrap. This stack uses VueJS as the frontend framework, Laravel as the backend framework, InteriaJS for building the SPA and Bootstrap for CSS Styling.
                                div(class="col-md-6")
                                    div(class="info info-hover-success")
                                        div(class="icon icon-shape bg-success shadow rounded-circle text-primary")
                                            i(class="ni ni-glasses-2 text-white")
                                        h5(class="info-title") NLTB Stack
                                        p(class="description opacity-8") NuxtJS, Laravel, Tailwind CSS & Bootstrap. This is a more streamlined VILB Stack. NuxtJS helps create SPA's out of the box and supports dynamic and static rendering per component. Laravel is uses as a backend API and Bootstrap and Tailwind CSS are used for styling different components.
            footer(class="footer footer-big")
                div(class="container")
                    div(class="content")
                        div(class="row")
                            div(class="col-md-4")
                                div(class="column")
                                    img(class="logo", src="https://app.creative-tim.com/argon_placeholder/brand/blue.png", alt="")
                            div(class="col-md-2 col-6")
                                div(class="column")
                                    h4(class="mt-3") Company
                                    ul
                                        li
                                            a(href="javascript:;") About Us
                                        li
                                            a(href="javascript:;") Careers
                                        li
                                            a(href="javascript:;") Press
                            div(class="col-md-2 col-6")
                                div(class="column")
                                    h4(class="mt-3") Product
                                    ul
                                        li
                                            a(href="javascript:;") How it works
                                        li
                                            a(href="javascript:;") Pricing
                            div(class="col-md-2 col-6")
                                div(class="column")
                                    h4(class="mt-3") Resources
                                    ul
                                        li
                                            a(href="javascript:;") Blog
                                        li
                                            a(href="javascript:;") Case study
                                        li
                                            a(href="javascript:;") Connect
                                        li
                                            a(href="javascript:;") Help Center
                            div(class="col-md-2 col-6")
                                div(class="column")
                                    h4(class="mt-3") Contact
                                    ul
                                        li
                                            a(href="javascript:;") Book a demo
                                        li
                                            a(href="javascript:;") Mail us
                                    div(class="btn-wrapper profile text-left mt-3")
                                        a(class="btn btn-sm", target="_blank", href="javascript:;", data-toggle="tooltip", data-original-title="Follow us")
                                            i(class="fab fa-twitter")
                                        a(class="btn btn-sm", target="_blank", href="javascript:;", data-toggle="tooltip", data-original-title="Like us")
                                            i(class="fab fa-facebook-square")
                                        a(class="btn btn-sm", target="_blank", href="javascript:;", data-toggle="tooltip", data-original-title="Follow us")
                                            i(class="fab fa-slack")
                        hr
                        div(class="row")
                            div(class="col-md-9")
                                div(class="column")
                                    nav
                                        ul
                                            li(class="d-inline-block")
                                                a(class="nav-link", href="javascript:;") @Argon
                                            li(class="d-inline-block")
                                                a(class="nav-link", href="javascript:;") Terms & Conditions
                                            li(class="d-inline-block")
                                                a(class="nav-link", href="javascript:;") Privacy Policy
                                            li(class="d-inline-block")
                                                a(class="nav-link", href="javascript:;", target="_blank") Legal Notice
                            div(class="col-md-3")
                                div(class="dropdown")
                                    span Language:
                                    div(class="btn btn-link text-primary", href="javascript:;", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                                        i(class="ni ni-chat-round")
                                        span English
                                    div(class="dropdown-menu", x-placement="bottom-start", style="position: absolute; transform: translate3d(0px, 42px, 0px); top: 0px; left: 0px; will-change: transform;")
                                        a(class="dropdown-item", href="javascript:;")
                                            span Deutch
                                        |                     
                                        a(class="dropdown-item active", href="javascript:;")
                                            span English
                                        |                     
                                        a(class="dropdown-item", href="javascript:;")
                                            span Español
                                        |                     
                                        a(class="dropdown-item", href="javascript:;")
                                            span Français
                                        |                     
                                        a(class="dropdown-item", href="javascript:;")
                                            span Italiano
                        div(class="row")
                            div(class="col-md-12")
                                div(class="footer-description") Mastercard is a registered trademark and the circles design is a trademark of Mastercard International Incorporated. The Spendesk Prepaid Card/This card is issued by Transact Payments Limited pursuant to licence by Mastercard International Incorporated. The Spendesk accounts are issued by Transact Payments Limited. Transact Payments Limited is authorised and regulated by the Gibraltar Financial Services Commission.
        | 
        script(src="js/core/jquery.min.js", type="text/javascript")
        script(src="js/core/popper.min.js", type="text/javascript")
        script(src="js/core/bootstrap.min.js", type="text/javascript")
        script(src="js/plugins/perfect-scrollbar.jquery.min.js")
        | 
        script(src="js/plugins/bootstrap-switch.js")
        | 
        script(src="js/plugins/nouislider.min.js", type="text/javascript")
        | 
        script(src="js/plugins/glide.js", type="text/javascript")
        | 
        script(src="js/plugins/moment.min.js")
        | 
        script(src="js/plugins/choices.min.js", type="text/javascript")
        | 
        script(src="js/plugins/datetimepicker.js", type="text/javascript")
        | 
        script(src="js/plugins/jasny-bootstrap.min.js")
        | 
        script(src="js/plugins/headroom.min.js")
        | 
        script(src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE", type="text/javascript")
        script(src="js/argon-design-system.min.js?v=1.0.2", type="text/javascript")
        script.
                function argonScripts() {
                    if (document.querySelectorAll('.glide').length) {
                        // Carousel
                        new Glide('.glide', {
                            type: 'carousel',
                            startAt: 0,
                            focusAt: 2,
                            perTouch: 1,
                            perView: 4
                        }).mount();
                    }
                    if (document.querySelectorAll('.testimonial-glide').length) {
                        // Testimonial Carousel
                        new Glide('.testimonial-glide', {
                            type: 'carousel',
                            startAt: 0,
                            focusAt: 2,
                            perTouch: 1,
                            perView: 4
                        }).mount();
                    }
                    if (document.querySelectorAll('.map').length) {
                        ArgonKit.initGoogleMaps();
                        ArgonKit.initGoogleMaps2();
                    }
                }
                argonScripts();
                
